.body{
    justify-content: center;
}

.test{
    width: 500px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.ActivityLetters{
    background-color:rgba(225, 191, 191, 0.5)
}